<mat-toolbar color="primary">
    <span>Listado de Tareas</span>
</mat-toolbar>
<mat-progress-bar *ngIf = "loading" mode="indeterminate"></mat-progress-bar>

<mat-card *ngIf="!loading">
    <button (click)="addEditTarea()" mat-raised-button color="primary">Agregar</button>
    <br><br>
    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        
      
        <ng-container matColumnDef="tarea">
          <th mat-header-cell *matHeaderCellDef mar-sort-header> Tarea </th>
          <td mat-cell *matCellDef="let element"> {{element.tarea}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaAlta">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaAlta | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element"> 
                <mat-icon (click)="addEditTarea(element.id_tarea)" class="btnEdit" matTooltip="Editar {{element.tarea}}" >edit</mat-icon>
                <mat-icon (click)="deleteTarea(element.id_tarea)" class="btnDelete" matTooltip="Eliminar {{element.tarea}}">delete</mat-icon>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      

</mat-card>